body {
    background-color: #f39c32;
}

.firstPageContaienr {
    position: relative;
    background-image: url('img2/initHead.png.png');
	background-size: cover;
	background-attachment: fixed;
    height: 80%;
    width: 1200px;
    min-width: 1000px;
    bottom: -10%;
    left:10%;
}

.secondPageContainer {
    position: relative;
    background-image: url('img2/initBodyTemp.png');
	background-size: cover;
	background-attachment: fixed;
    height: 80%;
    width: 1200px;
    min-width: 1000px;
    top: -10%;
    left:10%;
}
.winClick {
    //background-color: oldlace;
    display: flex;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 18.3%;
    left: 52%;
    z-index: 100;
}

.loseClick {
    //background-color: oldlace;
    display: flex;
    position: absolute;
    width: 24px;
    height: 27px;
    top: 43%;
    left: 76%;
    z-index: 100;
}

.win {
    //background-color: oldlace;
    display: flex;
    position: absolute;
    width: 10%;
    height: 10%;
    top: 14%;
    left: 25%;
    padding: 0 1%;
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 900;
    letter-spacing: 3px;
    z-index: 1;
}

.lose {
    //background-color: oldlace;
    display: flex;
    position: absolute;
    width: 10%;
    height: 10%;
    top: 4%;
    left: 70%;
    padding: 0 1%;
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 900;
    letter-spacing: 3px;
    z-index: 1;
}

.dashBoard {
    //background-color: oldlace;
    display: flex;
    position: absolute;
    width: 38%;
    height: 52%;
    top: 0;
    left: 50%;
    padding: 0 1%;
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 900;
    letter-spacing: 3px;
}

.secondInfo {
    position: absolute;
    z-index: 10;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 6%;
    padding: 0 1%;
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 900;
    letter-spacing: 3px;
}

.firstPageInfo {
    //background-color: oldlace;
    display: flex;
    position: absolute;
    width: 35%;
    height: 35%;
    top: 50%;
    left: 2%;
    padding: 0 1%;
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 900;
    letter-spacing: 3px;
}



.nav {
    //background-color: oldlace;
    display: flex;
    position: absolute;
    width: 40%;
    height: 30%;
    top: 15%;
    right: 0;
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: 900;
    text-shadow: 2px 0 black;
    letter-spacing: 3px;
}

.faceImage {
    //background-color: red;
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    right: 0;
}

.bodyImage {
    //background-color: blue;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.boardImg {
    //background-color: blue;
    position: relative;
    width: 150%;
    height: 150%;
    top: -15%;
    left: -50%;
}

.lastImage {
    //background-color: green;
    position: absolute;
    width: 100%;
    height: 80%;
    top: 10%;
    right: 0;
}

.calendarContainer {
    position: fixed;
    top: 20%;
    left: 55px;
    width: 600px;
    height: 120px;
}

.dashboardContainer {
    position: absolute;
    width: 609px;
    height: 540px;
    top: 10px;
    left: 556px;
    border-radius: 40px;
    border: 10px solid black;
    background-color: red;
    z-index: 5;
}

.calendarTitle {
    font-size: 40px;
    font-weight: 900;
}

.odometer {
    font-size: 36px;
}

.imageBody {
    position: relative;
    content: url(img/body.JPG);
    width: 100vw;
    height: 100vh;
}